{% extends "layouts/_default" %}

{% set fullWithPage = false %}

{% block content %}

    {% include "components/hero/_blog" %}

    <div class="container grid grid-cols-1 lg:grid-cols-12 gap-4">
        <article class="col-span-8 text-container">
            {% include "components/matrix/_matrix" %}
        </article>

        {# <aside class="cols-span-4"></aside> #}
    </div>

{% endblock content %}