{% import 'macros/_utils' as utils %}

{% set title = title|default(null) %}
{% set ctaText = ctaText|default(null) %}
{% set description = description|default(null) %}
{% set image = image|default(null) %}

<div class="group w-full overflow-hidden">
    <div class="aspect-video w-full bg-gray-100 rounded-md overflow-hidden">
        {{ utils.image(image, 'w-full h-full object-cover pointer-events-none group-hover:scale-105 duration-200 ease-in-out', 400, 250, 360, 250) }}
    </div>

    <div class="mt-2">
        <h3 class="h4 text-primary">{{ title }}</h3>

        <div class="remove-last-margin">
            {{description|raw}}
        </div>

        {% if ctaText %}
            <div class="mt-2 btn-primary group-hover:opacity-90">{{ ctaText }}</div>
        {% endif %}
    </div>
</div>
