{% import 'macros/_utils' as utils %}

{% set title = title|default(null) %}
{% set subtitle = subtitle|default(null) %}
{% set image = image|default(null) %}

<div class="group relative aspect-square bg-red-50 w-full overflow-hidden">
    {{ utils.image(image, 'w-full h-full object-cover pointer-events-none group-hover:scale-105 duration-200 ease-in-out', 400, 400, 360, 360) }}

    <div class="p-5 absolute top-0 left-0 w-full h-full flex flex-col justify-center text-center text-white">
        <h3 class="text-3xl font-semibold text-white text-shadow">{{ title }}</h3>
        <p class="mt-2 text-lg font-medium text-white text-shadow">{{ subtitle }}</p>
    </div>
</div>