{% import 'macros/_utils' as utils %}

{% set title = title|default(null) %}
{% set image = image|default(null) %}
{% set date = date|default(null) %}

<div class="group relative aspect-square bg-red-50 w-full overflow-hidden">
    {{ utils.image(image, 'w-full h-full object-cover pointer-events-none group-hover:scale-105 duration-200 ease-in-out', 400, 400, 360, 360) }}

    <div class="p-5 absolute top-0 left-0 w-full h-full flex flex-col justify-end text-white gradient-overlay">
        <h3 class="text-2xl font-semibold text-white">{{ title }}</h3>

        <div class="flex items-center gap-2">
            <span class="text-yellow-500">Gerben</span>
            <span class="">{{ date }}</span>
        </div>
    </div>
</div>