{% for chunk in entry.matrix %}
    {% if chunk.type == 'markup' %}
        {% if entry.pageType == "onlyTextSidebarWidth" %}
            <div class="text-container lg:w-8/12">
                {{ chunk }}
            </div>
        {% else %}
            <div class="text-container">
                {{ chunk }}
            </div>
        {% endif %}
    {% else %}
        {% switch chunk.entry.type.handle %}
            {% case 'matrixImage' %}
                {% include "components/matrix/_image" %}
            {% case 'matrixTextImage' %}
                {% include "components/matrix/_textImage" %}
            {% case 'matrixUitgaanDetailOverview' %}
                {% include "components/matrix/_uitgaan-detatil-overview.twig" %}
            {% case 'matrixBlogCards' %}
                {% include "components/matrix/_blog-cards" with {
                    title: chunk.entry.title,
                    description: chunk.entry.description,
                    showFrom: chunk.entry.showFrom
                } %}
            {% case 'matrixCards' %}
                {% include "components/matrix/_cards" with {
                    title: chunk.entry.title,
                    description: chunk.entry.description,
                    squareCards: chunk.entry.squareCards,
                    infoCards: chunk.entry.infoCards,
                } %}
            {% case 'matrixRelatedPost' %}
                {% include "components/matrix/_related-post" %}
        {% endswitch %}
    {% endif %}
{% endfor %}