
{% set title = title|default(null) %}
{% set description = description|default(null) %}
{% set cards = cards|default(null) %}
{# {% set relationEntries = relationEntries|default(null) %} #}

<section>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 !m-0 !p-0">
        {% if cards and cards|length %}
            {% for card in cards %}
                <li class="list-none">
                    <a href="{{ card.entry.one().url }}">
                        {% include "components/cards/_square-card" with {
                            title: card.title|default(card.entry.one().title)|default(null),
                            subtitle: card.subtitle|default(null),
                            image: card.entry.pageImage.one()|default(null),
                        } %}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</section>