{% extends "layouts/_default" %}

{% block content %}
    {% include "components/hero/_content" %}

    {% if entry.pageType == "withSidebar" %}
        <div class="container grid grid-cols-1 lg:grid-cols-12 gap-4">
            <article class="col-span-8 text-container">
                {% include "components/matrix/_matrix" %}
            </article>

            <aside class="lg:col-span-4 flex flex-col gap-4">
            </aside>
        </div>
    {% endif %}

    {% if entry.pageType == "noSidebar" or entry.pageType == "onlyTextSidebarWidth" %}
        <div class="container">
            <article class="text-container">
                {% include "components/matrix/_matrix" %}
            </article>
        </div>
    {% endif %}

{% endblock content %}