{% extends "layouts/_default" %}

{% set clubs = craft.entries().section('clubsDetail').all() %}

{% set fullWithPage = true %}

{% block content %}
    {% include "components/hero/_content" %}

    <div class="container py-10">
        <h2 class="h2">Clubs van {{ site.siteName }}</h2>
        <ul class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for club in clubs %}
                <li class="list-none">
                    <a href="{{ club.url }}">
                        {% include "components/cards/_info-card" with {
                            title: club.title|default(null),
                            description: club.clubConfig.one().description|default(null),
                            image: club.clubImages.one()|default(null),
                        } %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <article class="container py-10 text-container">
        {# {% include "components/matrix/_matrix" %} #}
    </article>
{% endblock content %}