{% import 'macros/_utils' as utils %}

<section class="mb-10  relative w-full min-h-[400px] h-[50vh] flex flex-col items-center justify-center bg-cover bg-center">
    {{ utils.image(entry.heroImage.one(), 'w-full h-full object-cover pointer-events-none', 1885, 500, 665, 500) }}

    <div class="bg-yellow-500 absolute left-0 bottom-0 w-full">
        <div class="lg:w-1/2 mx-auto text-center text-white py-7">
            <h3 class="text-white font-bold text-lg">Ben jij klaar voor de vakantie van jouw leven? Hier vind je alle informatie en tips om jou jongerenvakantie tot een groot success te maken!</h3>
        </div>
    </div>
</section>
