{% extends "layouts/_default" %}

{% set clubsOverview = craft.entries().section('clubsOverview').one() %}

{% set fullWithPage = false %}

{% block content %}
    {% include "components/hero/_content" %}

    <div class="container grid grid-cols-1 lg:grid-cols-12 gap-4">
        <article class="col-span-8 text-container order-last lg:order-first">
            {% include "components/matrix/_matrix" %}
        </article>

        <aside class="lg:col-span-4 flex flex-col gap-4">
            <a href="{{ clubsOverview.url }}" target="_blank" class="p-4 font-medium bg-pink-100">Alle clubs in {{ site.siteName }} &raquo;</a>
        </aside>
    </div>
{% endblock content %}